.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  padding: $space-md;
  background: $main-bg;

  &__hamburger {
    height: 40px;
    width: 40px;
    margin-right: $logo_space-lg;

    @include bp-md {
      display: none;
    }
  }

  &__hamburger-name {
    text-decoration: none;
    color: #000000;
    transition: color 0.3s ease;
  }

  &__hamburger-name:hover {
    color: #000000;
  }

  &__hamburger-box {
    display: block;
    position: relative;
    margin-top: $space-sm;

    z-index: 1;

    -webkit-user-select: none;
    user-select: none;
  }

  &__hamburger-checkbox {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;

    cursor: pointer;

    opacity: 0;
    z-index: 2;

    -webkit-touch-callout: none;
  }

  &__hamburger-span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;

    background: #000000;
    border-radius: 3px;

    z-index: 1;

    transform-origin: 4px 0px;

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
      background-color 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
      opacity 0.55s ease;
  }

  &__hamburger-span:first-child {
    transform-origin: 0% 0%;
  }

  &__hamburger-span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }

  &__hamburger-checkbox:checked~&__hamburger-span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
  }

  &__hamburger-checkbox:checked~&__hamburger-span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }

  &__hamburger-checkbox:checked~&__hamburger-span:nth-last-child(2) {
    opacity: 1;
    transform: rotate(-45deg) translate(0, -1px);
  }

  &__hamburger-list {
    position: absolute;
    width: 300px;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;
    background: #f3f3f3;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;

    transform-origin: 0% 0%;
    transform: translate(-100%, 0);

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);

  }
  &__hamburger-name{
    padding: 10px 0;
    width: 100%;
    display: block;
  }
  &__hamburger-checkbox:checked~&__hamburger-list{
    transform: scale(1.0, 1.0);
  opacity: 1;
  }
  &__logo {
    display: flex;
    height: 40px;
    width: 100%;
    margin-right: $logo_space-lg;
    @include bp-md {
      width: auto;
    }

  }

  &__logo-link {
    display: flex;
    height: 40px;
    width: 220px;
  }

  &__menu {
    display: none;
    height: 40px;
    width: 100%;

    @include bp-md {
      display: flex;
    }
  }

  &__menu-list {
    display: flex;
    line-height: 30px;
  }

  &__menu-categories {
    margin-left: $space-md;
  }

  &__menu-name {
    color: #7d7c7a;
    text-decoration: none;
  }

  &__menu-name:hover {
    border-bottom: 2px solid #7d7c7a;
  }

  &__account {
    width: 40px;
    height: 40px;
    margin-left: $space-md;
  }


  &__basket {
    width: 40px;
    height: 40px;
    margin-left: $space-md;
  }
}

@include bp_sm {}

@include bp_md {}

@include bp_lg {}