.post {
    display: flex;
    flex-direction: column;

    &__filters {
        display: flex;
        justify-content: flex-end;
        margin-left: -$space-sm;
        margin-right: -$space-sm;
        margin-bottom: $space-lg;
    }

    &__sort,
    &__filter {
        display: flex;
        justify-content: center;
        padding: $space-sm;
        margin: $space-sm;
        height: 45px;
        min-width: 60px;
        border: 1px solid $border-color;
        border-radius: 5px;

        img {
            max-width: 40px;
        }
    }

    &__all {
        display: flex;
        flex-wrap: wrap;
    }

    &__listing {
        display: flex;
        flex-wrap: wrap;
    }

    &__template {
        display: block;
        width: 50%;

        @include bp-sm {
            width: calc(100%/3);
        }

        @include bp-md {
            width: 25%;
        }
    }

    &__template-link {
        color: #000000;
        text-decoration: none;
    }

    &__template-img,
    &__template-name,
    &__template-price,
    &__template-sizes,
    &__template-cart {
        margin-top: $space-md;
        text-align: center;
    }
}

@include bp_sm {}

@include bp_md {}

@include bp_lg {}