// Trzymając zmienne odstępu w jednym miejscu masz możliwość edycji całego szablonu z poziomu jednego pliku

$space-sm: 10px;
$space-md: 20px;
$space-lg: 50px;

$logo_space-sm: 20px;
$logo_space-lg: 50px;