body {
  font-family: "Lato", sans-serif;
}

html {
  max-width: 100vw;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

header {
  display: flex;
  flex-wrap: wrap;
  height: 15vh;
  padding: 1vh;
  box-sizing: border-box;
  background-color: #a1d6e2;
}

.header_logo {
  order: 1;
  width: 30vw;
  height: 5vh;
}

.header_logo_link > img {
  height: 6vh;
  width: 20vw;
}

.header_basket {
  order: 2;
  width: 60vw;
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header_basket_flex {
  display: flex;
  align-items: center;
}

.header_basket_elements {
  margin-left: 2vw;
}

.header_basket_link_img {
  height: 3.5vh;
  width: 3, 5vw;
}

.header_search {
  width: 100vw;
  height: 5vh;
  order: 4;
  display: flex;
  justify-content: center;
}

.header_search_textarea {
  width: 75vw;
  height: 5vh;
}

.header_search_search {
  width: 20vw;
  height: 5vh;
}

.header_search_search,
.header_search_textarea {
  background-color: #f1f1f1;
  border: 1px solid #BCBABE;
}

main {
  min-height: auto;
}

.mainmenu {
  height: 20vh;
  grid-template-rows: 10vh;
  display: grid;
  grid-template-areas: "a b c" "d e f";
}

.gridarea1 {
  grid-area: a;
}

.gridarea2 {
  grid-area: b;
}

.gridarea3 {
  grid-area: c;
}

.gridarea4 {
  grid-area: d;
}

.gridarea5 {
  grid-area: e;
}

.gridarea6 {
  grid-area: f;
}

.nav_categorries {
  display: flex;
  flex-wrap: wrap;
  text-decoration: none;
  color: black;
  justify-content: center;
  align-items: center;
}

.nav_categorries_img {
  width: 7vw;
  height: 7vh;
  margin-right: 1vw;
}

.nav_categorries_description {
  width: 7vw;
  height: 7vh;
  line-height: 7vh;
}

nav > a {
  transition: background-color 0.3s;
}

nav > a:hover {
  background-color: #1995ad;
}

.sort {
  width: 99vw;
  height: 10vh;
  margin-top: 2vh;
  display: flex;
  flex-wrap: wrap;
}

.sort_women,
.sort_men {
  display: none;
}

.sort_sort {
  width: 85vw;
  height: 10vh;
  text-align: right;
}

.sort_filter {
  width: 14vw;
  height: 10vh;
  text-align: center;
}

.sort_sort_img,
.sort_filter_img {
  width: 3vw;
  height: 43h;
}

.c-article-listing {
  display: flex;
  max-width: 100%;
  margin-left: 2vw;
  text-align: center;
}

.productname {
  font-weight: bold;
  margin-bottom: 1vh;
}

.number_and_size,
.productprice {
  font-size: 0.8rem;
}

form > div {
  width: 100%;
  margin-top: 1vh;
}

footer {
  line-height: 4.5vh;
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #BCBABE;
}

.footer_contactus {
  text-align: center;
}

.footer_contactus > a {
  color: black;
  text-decoration: none;
}

footer > div > a:hover {
  color: blue;
  transition: color 0.5s;
}

.footer_copy {
  text-align: center;
}

.footer_socialmedia {
  padding-top: 0.5vh;
  display: flex;
  align-items: right;
  box-sizing: border-box;
}

.footer_socialmedia_img {
  height: 4vh;
}

/*zastanawia mnie jedynie dlaczego pod footerem jest jeszcze 
pusta przestrzen pokazuje ze to obiekt html a on ma marginy 0 */
@media only screen and (min-width: 768px) {
  body,
input {
    font-size: 1.4rem;
  }

  .productprice {
    font-size: 1rem;
  }
}
@media only screen and (min-width: 1024px) {
  body,
input {
    font-size: 1.5rem;
  }

  header {
    height: 7vh;
  }

  .header_logo {
    order: 1;
    width: 10vw;
  }

  .header_logo_link > img {
    height: 5vh;
    width: 8vw;
  }

  .header_search {
    order: 2;
    width: 50vw;
  }

  input {
    line-height: 3.5vh;
  }

  .header_basket {
    order: 3;
    width: 30vw;
    margin-left: 5vw;
  }

  main {
    min-height: 87vh;
  }

  .productprice {
    font-size: 1.2rem;
  }
}
@media only screen and (min-width: 1440px) {
  body,
input {
    font-size: 1.6rem;
  }

  header {
    height: 8vh;
  }

  .header_logo {
    order: 1;
    width: 10vw;
  }

  .header_search {
    order: 2;
    width: 50vw;
  }

  .header_basket {
    order: 3;
    width: 30vw;
    margin-left: 5vw;
  }

  main {
    min-height: 86vh;
  }

  .productprice {
    font-size: 1.4rem;
  }
}

/*# sourceMappingURL=/style.082fdd9f.css.map */