html {
  max-width: 100vw;
<<<<<<< HEAD
  min-height: 100vh;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

main {
  min-height: 100%;
  flex: 1 1 100%;
}

* {
  box-sizing: border-box;
=======
>>>>>>> b439844e6778f6961613312d8d2d31c1e946053e
}

body {
  font-family: "Lato", sans-serif;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

<<<<<<< HEAD
body {
  font-family: "Lato", sans-serif;
=======
html {
  font-family: "Lato", sans-serif;
}

p {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 1.5rem;
}

header {
  display: flex;
  flex-wrap: wrap;
  height: 15vh;
  padding: 1vh;
  box-sizing: border-box;
  background-color: #a1d6e2;
}

.header_logo {
  order: 1;
  width: 30vw;
  height: 5vh;
>>>>>>> b439844e6778f6961613312d8d2d31c1e946053e
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 700;
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.8rem;
}

h3 {
  font-size: 2.4rem;
}

h4 {
  font-size: 2.2rem;
}

h5 {
  font-size: 2rem;
}

p {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 1.5rem;
}

img {
  max-width: 100%;
  display: block;
}

<<<<<<< HEAD
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  padding: 20px;
  background: #fff;
}
.header__hamburger {
  height: 40px;
  width: 40px;
  margin-right: 50px;
}
@media (min-width: 1024px) {
  .header__hamburger {
    display: none;
  }
}
.header__hamburger-name {
  text-decoration: none;
  color: #000000;
  transition: color 0.3s ease;
}
.header__hamburger-name:hover {
  color: #000000;
}
.header__hamburger-box {
  display: block;
  position: relative;
  margin-top: 10px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}
.header__hamburger-checkbox {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}
.header__hamburger-span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #000000;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background-color 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}
.header__hamburger-span:first-child {
  transform-origin: 0% 0%;
}
.header__hamburger-span:nth-last-child(2) {
  transform-origin: 0% 100%;
}
.header__hamburger-checkbox:checked ~ .header__hamburger-span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}
.header__hamburger-checkbox:checked ~ .header__hamburger-span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
.header__hamburger-checkbox:checked ~ .header__hamburger-span:nth-last-child(2) {
  opacity: 1;
  transform: rotate(-45deg) translate(0, -1px);
}
.header__hamburger-list {
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background: #f3f3f3;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}
.header__hamburger-name {
  padding: 10px 0;
  width: 100%;
  display: block;
}
.header__hamburger-checkbox:checked ~ .header__hamburger-list {
  transform: scale(1, 1);
  opacity: 1;
}
.header__logo {
  display: flex;
  height: 40px;
  width: 100%;
  margin-right: 50px;
}
@media (min-width: 1024px) {
  .header__logo {
    width: auto;
  }
}
.header__logo-link {
  display: flex;
  height: 40px;
  width: 220px;
}
.header__menu {
  display: none;
  height: 40px;
  width: 100%;
}
@media (min-width: 1024px) {
  .header__menu {
    display: flex;
  }
}
.header__menu-list {
  display: flex;
  line-height: 30px;
}
.header__menu-categories {
  margin-left: 20px;
}
.header__menu-name {
  color: #7d7c7a;
  text-decoration: none;
}
.header__menu-name:hover {
  border-bottom: 2px solid #7d7c7a;
}
.header__account {
  width: 40px;
  height: 40px;
  margin-left: 20px;
=======
footer {
  line-height: 4.5vh;
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #BCBABE;
>>>>>>> b439844e6778f6961613312d8d2d31c1e946053e
}
.header__basket {
  width: 40px;
  height: 40px;
  margin-left: 20px;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.main {
  padding: 80px 20px 80px;
}
.main__page__name {
  text-align: center;
}

.posts {
  display: flex;
  flex-direction: column;
}
.posts__filters {
  display: flex;
  justify-content: flex-end;
  margin-left: -10px;
  margin-right: -10px;
  margin-bottom: 50px;
}
<<<<<<< HEAD
.posts__sort, .posts__filter {
  display: flex;
  justify-content: center;
  padding: 10px;
  margin: 10px;
  height: 45px;
  min-width: 60px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.posts__sort img, .posts__filter img {
  max-width: 40px;
}
.social {
  display: flex;
  justify-content: space-between;
}

.social-item__link {
  display: block;
  max-width: 30px;
  margin-left: 20px;
}
=======

/*zastanawia mnie jedynie dlaczego pod footerem jest jeszcze 
pusta przestrzen pokazuje ze to obiekt html a on ma marginy 0 */
>>>>>>> b439844e6778f6961613312d8d2d31c1e946053e

/*# sourceMappingURL=/style.082fdd9f.css.map */