html{
    max-width: 100vw;
    min-height: 100vh;
}

body{
    font-family: 'Lato', sans-serif;
}

* {
    // ustaw border-box na wszystkich elementach;
    box-sizing: border-box;
}

@include bp_sm {
}
@include bp_md {
}
@include bp_lg {
}