@media only screen and (min-width: 1024px) {

    body,
    input {
        font-size: 1.5rem;
    }

    header {
        height: 7vh;
    }

    .header_logo {
        order: 1;
        width: 10vw;
    }

    .header_logo_link>img {
        height: 5vh;
        width: 8vw;
    }

    .header_search {
        order: 2;
        width: 50vw;
    }

    input {
        line-height: 3.5vh;
    }

    .header_basket {
        order: 3;
        width: 30vw;
        margin-left: 5vw;
    }

    main {
        min-height: 87vh;
    }

    .productprice {
        font-size: 1.2rem;
    }
}