main {
    min-height: 80vh;
}

.mainmenu {
    display: flex;
    flex-wrap: wrap;
}

.nav_name {
    display: none;
}

.nav_categorries {
    width: calc(100vw/3);
    height: 10vh;
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
    color: black;
    /*nie wiem jak wysrodkowac w takim przypadku :(*/
}

#nav_categorries_img {
    width: 7vw;
    height: 7vh;
    margin-right: 1vw;
}

#nav_categorries_description {
    width: 7vw;
    height: 7vh;
    line-height: 7vh;
}

nav>a:hover {
    background-color: #000000;
}

/*chcialbym tez zrobic cos takiego ze jak na ktores z tych a 
    nacisniemy to jego bgcolor sie zmini a hover mi nie dziala :(*/
.sort {
    width: 100vw;
    height: 10vh;
    display: flex;
    flex-wrap: wrap;
}

#sort_women,
#sort_men {
    display: none;
}

#sort_sort {
    width: 85vw;
    height: 10vh;
    text-align: right;
}
#sort_filters {
    width: 15vw;
    height: 10vh;
    text-align: center;
}
#sort_sort_img,
#sort_filters_img {
    width: 5vw;
    height: 5vh;
}

