@media only screen and (max-width: 600px) {
  nav {
    margin-top: 1%;
    display: flex;
    flex-wrap: wrap;
    height: 15vh;
  }

  .nav_logo {
    order: 1;
    width: 50vw;
    height: 5vh;
  }

  .nav_logo_link>img {
    margin-left: 10px;
  }

  .nav_koszyk {
    order: 2;
    width: 25vw;
    height: 5vh;
    display: flex;
  }

  #nav_koszyk_opis,
  #nav_koszyk_ilosc,
  .nav_konto,
   {
    margin-top: 0.5vh;
  }

  #nav_koszyk_opis,
  #nav_koszyk_ilosc {
    margin-left: 1vw;
  }

  #nav_koszyk_link_zdj {
    height: 3.5vh;
  }

  .nav_konto {
    order: 3;
    width: 25vw;
    height: 5vh;
    display: flex;
    flex-wrap: wrap;
  }

  #nav_konto_dane {
    margin-left: 1vw;
  }

  .nav_szukaj {
    width: 100vw;
    height: 10vh;
    text-align: center;
    order: 4;
  }

  #nav_szukaj_poletekstowe {
    width: 75vw;
    height: 5vh;
  }

  #nav_szukaj_szukaj {
    width: 20vw;
    height: 5vh;
  }
}