main {
    margin-top: 4.5vh;
    min-height: 80vh;
}

.mainmenu {
    display: flex;
    flex-wrap: wrap;
}
.nav_name {
    display: none;
}

.nav_categorries {
    width: calc(100vw/3);
    height: 10vh;
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
    color: black;
    justify-content: center;
    align-items: center;
}
#nav_categorries_img {
    width: 7vw;
    height: 7vh;
    margin-right: 1vw;
}

#nav_categorries_description {
    width: 7vw;
    height: 7vh;
    line-height: 7vh;
}
nav>a{
    transition: background-color 0.3s;
}
nav>a:hover {
    background-color: #1995ad;
}
.sort {
    width: 99vw;
    height: 10vh;
    margin-top: 2vh;
    display: flex;
    flex-wrap: wrap;
}

#sort_women,
#sort_men {
    display: none;
}

#sort_sort {
    width: 85vw;
    height: 10vh;
    text-align: right;
}
#sort_filter {
    width: 14vw;
    height: 10vh;
    text-align: center;
}
#sort_sort_img,
#sort_filter_img {
    width: 5vw;
    height: 5vh;
}

